* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    flex-wrap: wrap;
    min-height: 95vh;

    background-image: url("etchASketchBackground.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 
Textboxes 
*/

.textbox, #pixelGrid, #settings {
    background-color: #ffffffd0;
    padding: 2rem 1.3rem;

    border-style: solid;
    border-width: 0.3rem;
    border-radius: 0.5rem;

    text-align: center;
}

.textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    gap: 1rem;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

/* 
Text Formatting
*/

h1, h3 {
    margin: 0;
}

button, input {
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 0.3rem;
    
    background-color: #58ff80;

    padding: 0.3rem 0.5rem;
}

/*
Pixel Canvas
*/

#pixelGrid {
    height: 10rem;
    width: 10rem;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pixel, .drawnPixel {
    height: 1rem;
    width: 1rem;
    margin: 0;
    padding: 0;

    background-color: #58ff80;
}
.drawnPixel {
    background-color: #007647;
}